.main {
    border-bottom: 2px solid black;
    height: 4rem;
    place-content: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding-inline: 2rem;
    height: 4rem;
}

.nav-a ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
}

.nav-a li a,.main h1 {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav-a a:hover {
    background-color: rgb(236, 236, 236);
}

button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.menu-drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
    height: 25vh;
    gap: 2rem;
    place-items: center;
    place-content: center;
}

.open-menu-icon {
    max-height: 2rem;
    display: none;
}

.close-menu-icon {
    max-height: 2rem;
}

@media screen and (max-width: 650px) {
    .nav-wrapper ul {
        display: none;
    }

    .nav-wrapper button {
        display: none;
    }

    .open-menu-icon{
        display: block;
    }
}