body {
    background-color: rgb(245, 245, 245);
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 2rem;
}

.small-button {
    width: auto;
    margin: 0;
    border: none;
}

.big-button {
    width: 100%;
    margin-top: 2rem;
    border: none;
}

input,textarea {
    padding: 0.5em;
}

/* Layout list */

.layoutBox {
    width: 150px;
    height: 200px;
    background-color: black;
    margin-bottom: 20px;
}

.layoutList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    place-items: center;
    padding: 4rem 4rem 0 4rem;
}

/* Personal Detail */

.section-title {
    text-align: center;
    margin-top: 4rem;
}

.box {
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgb(228, 228, 228);
    margin-top: 4rem;
    padding: 3rem;
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    font-weight: bold;
}

.detail-grid input {
    width: 100%;
    height: 2rem;
    margin-top: 0.7rem;
}

.textarea-input {
    display: grid;
    margin-top: 2rem;
    gap: 0.7rem;
    font-weight: bold;
}

.textarea-input textarea {
    height: 20vh;
}

/* Work experience */

.single-input input{
    width: 100%;
    height: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}

.single-input {
    font-weight: bold;
}

/* Skill & Language */

.sm-input {
    height: 2rem;
    flex-grow: 1;
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.list div {
    display: flex;
    gap: 1rem;
}


@media screen and (max-width: 500px) {
    .layoutList {
        display: block;
    }

    .detail-grid {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }

    .sm-input {
        width: 100%;
    }
}